# Polygon / MASSIVE API
POLYGON_API_KEY=your_polygon_api_key_here

# MongoDB passwords
MONGO_ADMIN_PWD=admin_secure_password
MONGO_INGEST_PWD=ingest_secure_password
MONGO_SPARK_PWD=spark_secure_password
MONGO_DASHBOARD_PWD=dashboard_secure_password
